<div class="hero-unit">
    <h2>Manage Products</h2>
    <li>@Html.ActionLink("List all products", "Index", "ManageProducts")</li>
    <li>@Html.ActionLink("Add a product", "Add", "ManageProducts")</li>
    <li>@Html.ActionLink("Add many products", "AddMany", "ManageProducts")</li>
</div>
