<div class="container">
    <input type="text" id="message" />
    <button onclick="onSendXtraMessage()">Test 2</button>
</div>

<script>
    function onSendXtraMessage() {
        $.post('@Url.Action("SendMessage")', { messageText: $('#message').val() }, function () {});
    }
</script>