<!DOCTYPE html>
<html ng-app="finland.hackathon">
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../app/claimFeature/claimCtrl.js"></script>
    <script src="../../app/claimFeature/claimSvc.js"></script>
    <script src="../../app/mapFeature/directive.js"></script>
    <script src="../../app/bootstrapperClaims.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div ng-controller="claimController" id="main-map">
        @*<div ng-repeat="d in data">
                <h2>
                    {{d.Data}}
                </h2>
            </div>
        *@
        <div id="map" style="height:100vh;"></div>
    </div>
</body>
</html>