
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="~/Content/screen.css" rel="stylesheet" />
    <script src="~/Scripts/lib.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <title>| PhotoBooth</title>
</head>
<body>
    <header class="main-header">
        <a href="#" data-action="snap">Ta nytt bilde</a>
    </header>

    <div class="container">
        <div class="images">
            @foreach (var imageContent in ViewBag.ImageContents)
            {
             <div class="image"><div class="maintain-aspect"><a href="@Url.Action("ShowImage", "Send", new { imageId = imageContent.ImageId })" class="swipebox" title="Photobooth"><img src="@Url.Action("ShowImage", "Send", new { imageId = imageContent.ImageId })" alt="image"></a></div></div>
            }
        </div>
        <button data-action="autoplay">
            Autoplay
        </button>
        <a href="admin.html">admin</a>
    </div>
</body>
</html>

<script type="text/javascript">
    $.connection.hub.start();

    $.connection.imageHub.client.addNewImageToPage = function (imageId) {
        var url = '@Url.Action("ShowImage", "Send")?imageId=' + imageId;
        $('.images').prepend('<div class="image"><div class="maintain-aspect ratio4_3"><a href=' + url + ' class="swipebox" title="Photobooth"><img src=' + url +' alt="image"></a></div></div>');
    };

    $("[data-action=snap]").click(function() {
        $.post('@Url.Action("TakePicture", "Send")', {  }, function () { console.log("Picture taken") });
    });
</script>
