<table>
    <tr>
        <td colspan="2" class="KLarnaAccountLogo">
            <img src="https://cdn.klarna.com/public/images/NO/badges/v1/account/NO_account_badge_std_blue.png?width=300" class="KlarnaInfoImage" alt="" />
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <label for="PersonNummer">Personnummer</label>
            </div>
        </td>
        <td>
            <div>
                <input data-val="true" data-val-length="The field Personnummer must be a string with a maximum length of 11." data-val-length-max="11" data-val-regex="Ugyldig Personnummer" data-val-regex-pattern="^\d{11}$" data-val-required="Husk: Personnummer - 11 siffere" id="PersonNummerId" name="PersonNummer" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="PersonNummer" data-valmsg-replace="true"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <label for="MobilTelefon">Mobiltelefon</label>
            </div>
        </td>
        <td>

            <div>
                <input data-val="true" data-val-length="The field Mobiltelefon must be a string with a maximum length of 8." data-val-length-max="8" data-val-regex="Ugyldig Mobiltelefon nummer" data-val-regex-pattern="^\d{8}$" data-val-required="Husk: Mobiltelefon nummer - 8 siffere" id="MobilTelefon" name="MobilTelefon" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="MobilTelefon" data-valmsg-replace="true"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <div>
                <label>Totalsum</label>
            </div>
        </td>
        <td>
            <div>
                kr xxxx.xx
            </div>

        </td>
    </tr>
    <tr>
        <td />
        <td>
            <div>
                <input id="ExecuteButton" type="submit" value="Utfør kjøp" class="MainButton" />
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div>
                <div>
                    &#197;rsrente: 22 %
                </div>
                <div>
                    Fakturagebyr: 45 kr
                </div>
                <div>
                    Etableringsgebyr: 0 kr
                </div>
                <div>
                    Delbetal fra: 95 NOK/manad, minst 1/24 av totalbel&#248;pet
                </div>
                <div>
                    Rente 22 %, gebyr 45 kr, etableringsgebyr 0 kr.
                </div>
                <div>
                    For et kj&#248;p p&#229; 10 000 kr med Klarna Konto basisvilk&#229;r, er renten 22 % og effektiv rente er 36,12 % ved betaling over 12 m&#229;neder. Total kredittkj&#248;pspris 11 771 kr.
                </div>
            </div>
        </td>
    </tr>
</table>
